#!/bin/sh
# {{ ansible_managed }}

set -eu

URL={{ vault_antakya_products_dl_url }}
PRODUCTS=/tmp/antakya_products.csv
FILTERED_PRODUCTS=/tmp/antakya_filtered_products.csv
SUBJECT="Antakya Products"
FROM_ADDR={{ vault_antakya_from_address }}
TO_ADDR={{ vault_antakya_to_address }}

wget -O "$PRODUCTS" "$URL"

# Delete invalid lines
cat "$PRODUCTS" | antakya_filter_products > "$FILTERED_PRODUCTS"

echo "$SUBJECT" | mutt -s "$SUBJECT" -e 'my_hdr From:$FROM_ADDR' -e 'set envelope_from=yes' -e 'set send_charset==us-ascii:utf-8' -a "$FILTERED_PRODUCTS" -- "$TO_ADDR"

rm "$PRODUCTS" "$FILTERED_PRODUCTS"
