check process sharedlists-web
  matching '"^puma [0-9.]* \(tcp:\/\/{{ sharedlists_web_bind_ip | replace(".", "\.") }}:{{ sharedlists_web_port }}\) \[sharedlists\]"'
  start program = "/usr/sbin/service sharedlists-web start"
  stop program = "/usr/sbin/service sharedlists-web stop"
  if 2 restarts within 3 cycles then timeout
  if cpu usage > 95% for 3 cycles then restart
  if failed host 127.0.0.1 port {{ sharedlists_web_port }} for 3 cycles then restart
  if 5 restarts within 5 cycles then timeout

check process sharedlists-smtp
  matching '^{{ sharedlists_user_home | replace("/", "\/") }}(.*)bin\/rails mail:smtp_server$'
  start program = "/usr/sbin/service sharedlists-smtp start"
  stop program = "/usr/sbin/service sharedlists-smtp stop"
  if 2 restarts within 3 cycles then timeout
  if cpu usage > 95% for 3 cycles then restart
  if failed host 127.0.0.1 port {{ sharedlists_smtp_server_port }} for 3 cycles then restart
  if 5 restarts within 5 cycles then timeout
