abuse@{{ mail_fqdn }}       #insert alias here
postmaster@{{ mail_fqdn }}  #insert alias here

foodsoft@{{ mail_fqdn }}    #insert alias here
mail-log@{{ mail_fqdn }}    #insert alias here
monit@{{ mail_fqdn }}       #insert alias here
root@{{ mail_fqdn }}        #insert alias here
sharedlists@{{ mail_fqdn }} #insert alias here