# {{ ansible_managed }}

smtpd_banner = $myhostname ESMTP $mail_name

### Error Logging
#debug_peer_list = 10.42.7.60

### Protocols
inet_interfaces = all
inet_protocols = ipv4

myhostname = {{ mail_myorigin }}
myorigin = {{ mail_fqdn }}
mydestination = localhost
mynetworks = 127.0.0.0/8, [::ffff:127.0.0.0]/104

### TLS
tls_ssl_options = NO_COMPRESSION, NO_RENEGOTIATION
tls_preempt_cipherlist = no
tls_medium_cipherlist = ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA
tls_high_cipherlist=EDH+CAMELLIA:EDH+aRSA:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA256:EECDH:+CAMELLIA128:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!DSS:!RC4:!SEED:!IDEA:!ECDSA:kEDH:CAMELLIA128-SHA:AES128-SHA

### TLS SMTP Server
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes
smtpd_tls_cert_file = /var/lib/dehydrated/certs/{{ mail_mx }}/fullchain.pem
smtpd_tls_key_file = /var/lib/dehydrated/certs/{{ mail_mx }}/privkey.pem
smtpd_tls_ciphers = medium
smtpd_tls_mandatory_ciphers = medium
smtpd_tls_exclude_ciphers = aNULL, eNULL, MD5, DES, 3DES, DES-CBC3-SHA, RC4-SHA, AES256-SHA, AES128-SHA, DHE-RSA-AES256-SHA
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtpd_tls_session_cache_timeout = 7200s
smtpd_tls_loglevel = 1
smtpd_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
smtpd_tls_dh1024_param_file = {{ dhparam_global_file }}
smtpd_tls_eecdh_grade = strong

### TLS SMTP Client
smtp_tls_security_level = dane
smtp_dns_support_level = dnssec
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtp_tls_session_cache_timeout = 7200s
smtp_tls_policy_maps = socketmap:inet:127.0.0.1:8461:postfix
smtp_tls_ciphers = medium
smtp_tls_fingerprint_digest = sha1
smtp_tls_loglevel = 1
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
smtp_pix_workarounds = disable_esmtp

### Domains and transports
relay_domains = {{ mail_fqdn }}
transport_maps =
    pcre:{{ postfix_conf_dir }}/transport_relay,
    pcre:{{ postfix_conf_dir }}/transport_foodsoft,
    pcre:{{ postfix_conf_dir }}/destination_limit
virtual_alias_maps = cdb:{{ postfix_conf_dir }}/virtual_aliases

#### Postscreen
postscreen_blacklist_action = drop
postscreen_greet_action = drop
postscreen_dnsbl_threshold = 2
postscreen_dnsbl_sites =
    bl.spamcop.net*1
    ix.dnsbl.manitu.net*2
    zen.spamhaus.org*2
postscreen_dnsbl_action = drop

### Order of restrictions
# - smtpd_client_restriction
# - smtpd_helo_restriction
# - smtpd_sender_restrition
# - smtpd_relay_restrictions
# - smtpd_recipient_restrictions
# - smtpd_data_restriction
# - smtpd_end_of_data_restriction
# - smtpd_etrn_restriction

smtpd_client_restrictions =
    permit_mynetworks,
    permit_sasl_authenticated,
    reject_unknown_client_hostname,
    permit

smtpd_delay_reject = yes
smtpd_helo_required = yes

smtpd_helo_restrictions =
    permit_mynetworks,
    permit_sasl_authenticated,
    check_helo_access pcre:{{ postfix_conf_dir }}/helo_checks,
    reject_non_fqdn_helo_hostname,
    reject_invalid_helo_hostname,
    permit

smtpd_sender_restrictions =
    permit_mynetworks,
    check_sender_access cdb:{{ postfix_conf_dir }}/sender_checks,
    reject_non_fqdn_sender,
    reject_unknown_sender_domain,
    check_sender_mx_access cidr:{{ postfix_conf_dir }}/bogus_mx,
    permit

smtpd_relay_restrictions =
    permit_mynetworks,
    permit_sasl_authenticated,
    reject_unauth_destination

smtpd_recipient_restrictions =
    reject_unauth_pipelining,
    reject_non_fqdn_recipient,
    reject_unknown_recipient_domain,
    permit_mynetworks,
    permit_sasl_authenticated,
    reject_unverified_recipient

unverified_recipient_reject_reason = User unknown / Nutzer unbekannt
unverified_recipient_reject_code = 550

smtpd_data_restrictions =
    reject_multi_recipient_bounce,

### Limits for inbound connectios
smtpd_client_connection_rate_limit = 100
smtpd_client_message_rate_limit = 25
smtpd_client_new_tls_session_rate_limit = 100
smtpd_client_auth_rate_limit = 100

default_destination_rate_delay = 60s
default_destination_recipient_limit = 1
default_destination_concurrency_failed_cohort_limit = 10

header_checks = pcre:{{ postfix_conf_dir }}/header_checks

### Milters
smtpd_milters = inet:localhost:8891
non_smtpd_milters = $smtpd_milters 
milter_default_action = accept

### SMTP Auth
smtp_sasl_auth_enable = yes
smtp_sasl_auth_soft_bounce = no
smtp_sasl_password_maps = cdb:{{ postfix_conf_dir }}/{{ postfix_sasl_password_file }}
smtp_sasl_security_options = noanonymous

### Misc
disable_vrfy_command = yes
recipient_delimiter = +
alias_maps =
notify_classes = data, delay, resource, software
minimal_backoff_time = 1000s
maximal_backoff_time = 4h
compatibility_level = 2
biff = no
append_dot_mydomain = no
always_add_missing_headers = yes
local_header_rewrite_clients = permit_mynetworks
mailbox_size_limit = 0
readme_directory = /usr/share/doc/postfix
html_directory = /usr/share/doc/postfix/html

### Destination limits
relay_destination_concurrency_limit = 2
relay_destination_recipient_limit = 3
dlimit_destination_concurrency_limit = 2
dlimit_destination_recipient_limit = 3
dlimit_destination_rate_delay = 5s