[Unit]
Description=Uptime-Kuma - A free and open source uptime monitoring solution
Documentation=https://github.com/louislam/uptime-kuma
After=network.target

[Service]
Type=simple
User={{ uptimekuma_user }}
Environment=HOST=0.0.0.0
Environment=PORT={{ uptimekuma.port }}
WorkingDirectory={{ uptimekuma_home }}
ExecStart=/usr/bin/npm run start-server
Restart=on-failure

# Hardening to improve security
NoNewPrivileges=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
PrivateDevices=yes
PrivateTmp=true
PrivateUsers=true
ReadWritePaths={{ uptimekuma_home }}
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
