[Unit]
Description=Sharedlists rails server
Documentation=https://github.com/foodcoops/sharedlists
After=network.target
Requires={{ sharedlists_web_socket }}

[Service]
EnvironmentFile={{ sharedlists_environment_file }}
User={{ sharedlists_user }}
Group={{ sharedlists_user }}
Restart=on-failure
RestartSec=10
WorkingDirectory={{ sharedlists_home }}
ExecStart=/bin/bash -lc "${RBENV_CMD} rails server -b ${SHAREDLISTS_BIND_IP}"
ProtectHome=true
ProtectSystem=full
PrivateTmp=true
PrivateUsers=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
