RBENV_CMD="rbenv exec"
RAILS_ENV=production
RAILS_FORCE_SSL=false
RAILS_SERVE_STATIC_FILES=true
SHAREDLISTS_BIND_IP={{ sharedlists_web_bind_ip }}
SECRET_KEY_BASE={{ vault_sharedlists_secret_key_base }}
{% if sharedlists_smtp_mailer_domain is defined %}
MAILER_DOMAIN={{ sharedlists_smtp_mailer_domain }}
{% endif %}
{% if sharedlists_smtp_mailer_prefix is defined %}
MAILER_PREFIX={{ sharedlists_smtp_mailer_prefix }}
{% endif %}
SMTP_SERVER_PORT={{ sharedlists_smtp_server_port }}
SMTP_SERVER_HOST={{ sharedlists_smtp_server_host }}
