[Unit]
Description=Sharedlists smtp server
Documentation=https://github.com/foodcoops/sharedlists
After=network.target

[Service]
EnvironmentFile={{ sharedlists_environment_file }}
User={{ sharedlists_user }}
Group={{ sharedlists_user }}
Restart=on-failure
RestartSec=10
WorkingDirectory={{ sharedlists_home }}
ExecStart=/bin/bash -lc "${RBENV_CMD} rails mail:smtp_server"
ProtectHome=true
ProtectSystem=full
PrivateTmp=true
PrivateUsers=true
NoNewPrivileges=true
