# Managed by Ansible

default: &defaults
{% if foodsoft_config_multi_coop_install is defined and foodsoft_config_multi_coop_install %}
  multi_coop_install: true
  default_scope: '{{ foodsoft_config_default_scope }}'
{% endif %}

  name: {{ foodsoft_config_name }}
  contact:
    street: {{ foodsoft_config_street }}
    zip_code: "{{ foodsoft_config_zip_code }}"
    city: {{ foodsoft_config_city}}
    country: {{ foodsoft_config_country }}
    email: {{ foodsoft_config_email }}
    phone: "{{ foodsoft_config_phone }}"

  homepage: {{ foodsoft_config_homepage }}
  help_url: {{ foodsoft_config_help_url }}
  applepear_url: {{ foodsoft_config_applepear_url }}
  foodsoft_url: {{ foodsoft_config_foodsoft_url }}
  logout_redirect_url: {{ foodsoft_config_lougout_redirect_url }}

  default_locale: en
  ignore_browser_locale: false
  time_zone: Berlin
  currency_unit: €
  currency_space: true

  price_markup: 2.0
  tax_default: 7.0
  tolerance_is_costly: false

  stop_ordering_under: 75
  use_apple_points: false
  minimum_balance: 0

  tasks_period_days: 7
  tasks_upfront_days: 49

  # default order schedule, used to provide initial dates for new orders
  # (recurring dates in ical format; no spaces!)
  #order_schedule:
  #  ends:
  #    recurr: FREQ=WEEKLY;INTERVAL=2;BYDAY=MO
  #    time: '9:00'
  #  # reference point, this is generally the first pickup day; empty is often ok
  #  #initial:

  use_nick: false
  use_wiki: true
  use_messages: true

  # Base font size for generated PDF documents
  #pdf_font_size: 12
  # Page size for generated PDF documents
  #pdf_page_size: A4
  # Some documents (like group and article PDFs) can include page breaks
  # after each sublist.
  #pdf_add_page_breaks: true
  # Alternatively, this can be set for each document.
  #pdf_add_page_breaks:
  #  order_by_groups: true
  #  order_by_articles: true

  # Page footer (html allowed). Default is a Foodsoft footer. Set to `blank` for no footer.
  #page_footer: <a href="http://www.foodcoop.test/">FC Test</a> is supported by <a href="http://www.hoster.test/">Hoster</a>.

  # Custom CSS to add
  #custom_css: 'body { background-color: #fcffba; }'

  # Custom fields for invoice, odergroup, supplier and user.
  # Check out https://github.com/plataformatec/simple_form for details about the supported options.
  #custom_fields:
  #  user:
  #    - name: address
  #      label: Address
  #    - name: birthday
  #      label: Birthday
  #      as: date_picker

  # Uncomment to add tracking code for web statistics, e.g. for Matomo. (Added to bottom of page)
  #webstats_tracking_code: |
  #  <!-- Matomo -->
  #  ......

  # email address to be used as sender
  email_sender: foodsoft@foodcoop.test

  # domain to be used for reply emails
  #reply_email_domain: reply.foodcoop.test

  # If your foodcoop uses a mailing list instead of internal messaging system
  #mailing_list: list@example.org
  #mailing_list_subscribe: list-subscribe@example.org

  # Config for the exception_notification plugin
  notification:
    error_recipients:
      - admin@foodcoop.test
    feedback_recipients:
      - support@foodcoop.test
    sender_address: "\"Foodsoft Error\" <foodsoft@foodcoop.test>"
    email_prefix: "[Foodsoft]"

  # http config for this host to generate links in emails (uses environment config when not set)
  #protocol: http
  #host: localhost
  #port: 3000
  #script_name: "/"

  # Access to sharedlists, the external article-database.
  # This allows a foodcoop to subscribe to a selection of a supplier's full assortment,
  # and makes it possible to share data with several foodcoops. Using this requires installing
  # an additional application with a separate database.
  #shared_lists:
  #  adapter: mysql2
  #  host: localhost
  #  database: sharedlists_development
  #  username: root
  #  password:
  #  encoding: utf8
  #  socket: /opt/lampp/var/mysql/mysql.sock
  #
  # Instead of defining all details here, you can also point to an entry in database.yml.
  #shared_lists: shared_lists

  # default to allow automatically adding new articles on sync only when less than 200 articles in total
  #shared_supplier_article_sync_limit: 200

{% if foodsoft_config_multi_coop_install is defined and foodsoft_config_multi_coop_install %}
{% for foodcoop in multi_coops %}
{{ foodcoop.name }}:
  <<: *defaults
  database:
    database: {{ foodcoop.foodsoft_db }}
{% if foodcoop.config is defined %}
{% for config in foodcoop.config %}
    {{ config }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
