server {
    listen 80;
    server_name mta-sts.{{ mail_fqdn }};
    include snippets/letsencrypt.conf;
    location / { return 301 https://$http_host$request_uri; }
}

server {
    listen 443 ssl http2;
    server_name mta-sts.{{ mail_fqdn }};
    ssl_certificate /var/lib/dehydrated/certs/mta-sts.{{ mail_fqdn }}/fullchain.pem;
    ssl_certificate_key /var/lib/dehydrated/certs/mta-sts.{{ mail_fqdn }}/privkey.pem;
    include /etc/nginx/snippets/add_headers.conf;
    location /.well-known { alias /var/www/html; }
}