[Unit]
Description=Foodsoft rails server
Documentation=https://github.com/foodcoops/foodsoft/wiki
After=network.target
Wants=sharedlists-smtp.service
Requires={{ foodsoft_web_socket }}

[Service]
EnvironmentFile={{ foodsoft_environment_file }}
User={{ foodsoft_user }}
Group={{ foodsoft_user }}
Restart=on-failure
RestartSec=10
WorkingDirectory={{ foodsoft_home }}
ExecStart=/bin/bash -lc "${RBENV_CMD} rails server -b ${FOODSOFT_BIND_IP} -p ${FOODSOFT_WEB_PORT}"

# Hardening to improve security
{% if foodsoft_smtp_address is defined and foodsoft_smtp_address %}
NoNewPrivileges=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ReadWritePaths={{ foodsoft_home }}
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
{% else %}
ProtectHome=true
ProtectSystem=full
PrivateTmp=true
{% endif %}
