[Unit]
Description=Foodsoft smtp server
Documentation=https://github.com/foodcoops/foodsoft/wiki
After=network.target

[Service]
EnvironmentFile={{ foodsoft_environment_file }}
User={{ foodsoft_user }}
Group={{ foodsoft_user }}
Restart=on-failure
RestartSec=10
WorkingDirectory={{ foodsoft_home }}
ExecStart=/bin/bash -lc "${RBENV_CMD} rails foodsoft:reply_email_smtp_server"

# Hardening to improve security
NoNewPrivileges=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ReadWritePaths={{ foodsoft_home }}
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
